<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet" />
</head>
<body>
    <%- include('yhteiset/header') %>
    <div class="menu-container"><p>Tiimimme nimi on ravintola rakentajat
        Erem Uzun ja Daoud Lamrabet
        Luomme verkkosivustoja ravintoloille, jotka sisältävät varauskalenterin.
        Meidän verkkosivumme sisältää menun, ravintolan puh. numeron kotiinkuljetus palvelut kuten, foodora ja wolt, yhteystiedot, tarjoukset ja palautteen anto sähköpostin</p>
    </div>
</body>
</html>