<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    Pizzerian Menu
</header>
<body>
<div class="menu-container">
    <div class="menu-grid">
        <div class="menu-item">
            <h3>Margherita</h3>
            <p>Juustoa, tomaattikastiketta</p>
            <p class="price">8.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Pepperoni</h3>
            <p>Juustoa, tomaattikastiketta, pepperonia</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Quattro Stagioni</h3>
            <p>Juustoa, kinkkua, sieniä, artisokkaa</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Havaiji</h3>
            <p>Juustoa, kinkkua, ananasta</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Diavola</h3>
            <p>Juustoa, tomaattikastiketta, tulista salamia</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Vegetariana</h3>
            <p>Juustoa, tomaattikastiketta, kasviksia</p>
            <p class="price">9.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Calzone</h3>
            <p>Juustoa, kinkkua, tomaattikastiketta</p>
            <p class="price">10.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Frutti di Mare</h3>
            <p>Juustoa, meren antimia</p>
            <p class="price">11.00 €</p>
        </div>
        <div class="menu-item">
            <h3>BBQ Chicken</h3>
            <p>Juustoa, kanaa, BBQ-kastiketta</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Salami</h3>
            <p>Juustoa, tomaattikastiketta, salamia</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Carbonara</h3>
            <p>Juustoa, pekonia, kananmunaa</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Pollo</h3>
            <p>Juustoa, tomaattikastiketta, kanaa</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Tonno</h3>
            <p>Juustoa, tomaattikastiketta, tonnikalaa</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Capricciosa</h3>
            <p>Juustoa, kinkkua, sieniä</p>
            <p class="price">10.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Mexicana</h3>
            <p>Juustoa, tulista jauhelihaa, jalapenoja</p>
            <p class="price">10.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Quattro Formaggi</h3>
            <p>Neljää eri juustoa</p>
            <p class="price">11.00 €</p>
        </div>
        <div class="menu-item">
            <h3>Kebabpizza</h3>
            <p>Juustoa, tomaattikastiketta, kebablihaa</p>
            <p class="price">10.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Napoli</h3>
            <p>Juustoa, anjovista</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Pesto</h3>
            <p>Juustoa, pestokastiketta</p>
            <p class="price">9.50 €</p>
        </div>
        <div class="menu-item">
            <h3>Speciale</h3>
            <p>Juustoa, kinkkua, salamia, herkkusieniä</p>
            <p class="price">11.00 €</p>
        </div>
    </div>
</div>
    <h1>MOI</h1>
    <h1>Onpa tämä helppoa ja ihanaa</h1>
    <p>moi</p>
    <p><%= tervehdys %></p>
</body>
</html>