<footer>
    <div class="footer-content">
      <div class=="left">
        <h1>Yhteystiedot</h1>
        <h2>&#169; Daoud Lambrabet</h2>
        <h3>Puh:+3584573993200</h3>
  
      </div>
      <ul>
        <a href="./">Etusivu</a>
        <a href="./varaus">Vapaat pöydät</a>
        <a href="./varaushallinta">Hallinta</a>
        <a href="about.html">Tietoa meistä</a>
        <a href="contact.html">Ota yhteyttä</a>
      </ul>
    </div>
    </header>
    