<header>
    <h1>Menu</h1>
    <nav>
        <a href="index.html">Etusivu</a>
        <a href="menu.html">Menu</a>
        <a href="./varaus">Pöytävaraukset</a>
        <a href="about.html">Tietoa meistä</a>
        <a href="contact.html">Ota yhteyttä</a>
    </nav>
</header>