<header>
  <h1><%= title %></h1>
  <nav>
    <a href="./">Etusivu</a>
    <a href="./varaus">Vapaat pöydät</a>
    <a href="./varaushallinta">Hallinta</a>
    <a href="about.html">Tietoa meistä</a>
    <a href="contact.html">Ota yhteyttä</a>
  </nav>
</header>
